
<nav class="navbar navbar-expand-lg bg-white navbar-light">
    <div class="container">
      <a class="navbar-brand" href="/">
        <img src="https://res.cloudinary.com/dtychiden/image/upload/v1700752997/Laundry/LaundryLogo_suputu.png" alt="logo">
        <span>ForiWash</span>
      </a>
      <button class="navbar-toggler shadow-none" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <i class='bx bx-menu'></i>
      </button>
      <div class="collapse navbar-collapse " id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/products">Products</a>
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link" href="/contact">Contact</a>
          </li> -->
          <li class="nav-item">
            <a class="nav-link disabled" aria-disabled="true">Disabled</a>
          </li>
        </ul>
        <a class="btn btn-primary " href="/contact" role="button">Contact</a>
      </div>
    </div>
  </nav>