<% layout('layouts/boilerplate') %>


    <section class="hero">
        <div class="container">

            <div class="row justify-content-center">
                <div class="col-md-10">
                    <div class="row justify-content-evenly">
                        <div class="col-md-5">
                            
                                <div class="copy " data-aos-duration="2000" data-aos="fade-up">
                                    <div class="text-hero-bold">
                                       Page not found
                                    </div>
                                    <div class="text-hero-regular">
                                        Lo sentimos, la página que solicitaste no fue encontrada. Dirígete a la página principal
                                    </div>
                                    <div>
                                        <a href="/" class="btn btn-primary shadow-none ">Inicio</a>
                                    </div>
                            </div>

                        </div>
                        <div class="col-md-5" data-aos-duration="2000" data-aos="fade-up">
                            <img src="/other/error.jpg" class="w-100 img-fluid" alt="img">
                            <!-- 90CAF9 -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>