<% layout('layouts/boilerplate') %>

    <section class="hero">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div>
                        <div class="copy " data-aos-duration="2000" data-aos="fade-up">
                            <div class="text-label">
                                La mejor manera de optimizar tu tiempo
                            </div>
                            <div class="text-hero-bold">
                                Tu lavandería de Confianza
                            </div>
                            <div class="text-hero-regular">
                                Trabajamos para garantizarte la más alta calidad de servicio y atención en todo lo que necesites
                            </div>
                            <div>
                                <a href="/products" class="btn btn-primary shadow-none">Explorar precios </a>
                                <a href="/contact" class="btn btn-secondary shadow-none ">Contacto</a>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-md-6" data-aos-duration="2000" data-aos="fade-up">
                    <img src="https://res.cloudinary.com/dtychiden/image/upload/v1700752982/Laundry/Laundry_and_dry_cleaning-pana_tzqash.png"     
                        class="w-100 img-fluid" alt="img">
                        <!-- 90CAF9 -->
                </div>
            </div>
    </section>